<!--The content below is only a placeholder and can be replaced.-->
<nav class="darken-4">
  <div class="nav-wrapper">
    <div class="brand-logo capitalize">
      <img src="/assets/images/logo0.png" alt="Logo"> {{userBundle['common.impressions.label']}}
      <span>
        {{userBundle['common.title.label']}}
      </span>
    </div>

    <div class="col s6 center title">POP Dashboard</div>

    <ul id="nav-mobile" class="right">
      <li>
        <a href="javascript:void(0)" (click)="showFilter = !showFilter">
          <i [hidden]="showFilter" class="material-icons">expand_less</i>
          <i [hidden]="!showFilter" class="material-icons">expand_more</i>
        </a>
      </li>
    </ul>
    <div class="col s12 m2">
      <a id="dashBoardToolTip" class="btn-floating btn-flat blue-text right btn_popover" style="top: 12px;left: -4px;color: #fff !important;text-transform: capitalize;font-size: 16px;letter-spacing: 1px;"
        data-html="true" data-position="bottom" data-delay="75">
        <i class="material-icons blue-text">help_outline</i>
      </a>
    </div>
  </div>
</nav>

<div class="dashboard-body">
  <app-filters [hidden]="!showFilter"></app-filters>

  <div style="height: 80px">
        <app-chart [title]="title" [options]="chartOptions"></app-chart>
    </div>

</div>

<div class="row sticky-footer">
  <div class="col s12 m12 footer">
    Back End Version {{systemData?.version}} | Front End Version {{frontEndVersion}}
  </div>
</div>
