<nav class="indigo darken-4">
    <div class="nav-wrapper">
        <div class="brand-logo capitalize">
            <img src="images/logo0.png" alt="Logo">{{vm.selectedDashboardType}} Dashboard 
        </div>
        
        <!--<i class="material-icons routedropdown" id="my-drop-btn" data-beloworigin="true" href='#' data-activates='dropdown1'>expand_more</i>-->
        <div class="col s6 center title">{{vm.userBundle['common.heading']}}</div>
        <ul id='dropdown1' class='dropdown-content' >
            <li ng-repeat="dashboardtype in vm.DASHBOARD_TYPES"><a  href="{{'#!' + dashboardtype.routeURL}}"><img src="{{'images/' + dashboardtype.image}}" alt="Logo"> <span class="dropdownChildren">{{dashboardtype.name}}</span></a></li>            
        </ul>

        <ul id="nav-mobile" class="right">
            <li>
                <a href="javascript:void(0)" ng-click="vm.showHideFilters()">
                    <i ng-show="vm.showFilter" class="material-icons">expand_less</i>
                    <i ng-show="!vm.showFilter" class="material-icons">expand_more</i>
                </a>
            </li>
        </ul>

    </div>
</nav>
<div class="white filter_block" id="filtersArea">
    <div class="row">
        <form class="col s12">
            <div class="row no-margin">
                <div class=" col s12 m3">
                    <label for="">{{vm.userBundle['common.dateRange']}}</label>
                    <!--<input placeholder="Select date range" id="first_name" type="text" class=" no-margin">-->
                    <input date-range-picker id="dateRange" class="no-margin" type="text" placeholder="{{vm.userBundle['common.dateRange']}}" ng-model="vm.datePicker.date"
                        options="vm.datePickerOptions" ng-change="vm.dateChanged()" />
                    <i class="material-icons inputicon">date_range</i>
                </div>
              
                <div class=" col s12 m3" style="z-index:2">
                    <label for="">{{vm.userBundle['common.specialist']}}</label>

                    <tags-input ng-model="vm.selectedSpecialists" on-tag-added="vm.onAddTags()" key-property="organisationId" display-property="organisationName"
                        placeholder="Select Specialist">
                        <auto-complete source="vm.loadSpecialist($query)" load-on-focus="true" load-on-empty="true" template="my-custom-template"></auto-complete>
                    </tags-input>
                </div>
                <div class=" col s12 m3" style="z-index:1">
                    <label for="">{{vm.userBundle['common.productformat']}}</label>
                    <tags-input ng-model="vm.selectedProductFormats" on-tag-added="vm.onAddTags()" class="no-margin" key-property="productFormatId"
                        display-property="productFormatName" placeholder="Select Product Format">
                        <auto-complete source="vm.loadProductFormat($query)" load-on-focus="true" load-on-empty="true" template="my-custom-template"></auto-complete>
                    </tags-input>

                    
                </div>
                <!--<div class=" col s12 m3" style="z-index:1">-->
                    <!--<input name="group1" type="radio" id="frame" ng-model="vm.selectedDashboardType" value="frame" ng-change="vm.selectDashBoardType()" />
                    <label for="frame">Frame</label>
                    <input name="group1" type="radio" id="sot" ng-model="vm.selectedDashboardType" value="sot"  ng-change="vm.selectDashBoardType()" />
                    <label for="sot">SOT</label> -->

                    <div class="col s12 m3">
                            <label for="">{{vm.userBundle['common.selectType']}}</label>
                            <div class="switch filters">
                                <label>
                                  SOT
                                  <input type="checkbox" ng-model="vm.isFrameDashbaord" ng-click="vm.selectDashBoardType()" >
                                  <span class="lever"></span>
                                  Frame
                               </label>
                             </div>
                    </div>
                <!--</div>-->
                

            </div>
        </form>
    </div>
</div>
<div class="blue-grey lighten-5 filterselection" ng-if="vm.selectedSpecialists.length > 0  || vm.selectedProductFormats.length > 0">
    <label class="filterlables"><b>{{vm.userBundle['common.productformat']}}: </b></label>
    <div ng-repeat="specialist in vm.selectedSpecialists" class="chip">
        {{specialist.organisationName}} <i ng-click="vm.removeTags($index, vm.selectedSpecialists)" class="close material-icons">close</i>
    </div>


    <label class="filterlables"><b>{{vm.userBundle['common.specialist']}}: </b></label>
    <div ng-repeat="productFormat in vm.selectedProductFormats" class="chip">
        {{productFormat.productFormatName}}<i ng-click="vm.removeTags($index, vm.selectedProductFormats)" class="close material-icons">close</i>
    </div>
</div>
<div class="row meterchart_wrap">
    <div ng-style="{'width': (100 / vm.channelSummary.length) + '%'}" class="col m7-col center" ng-repeat="channel in vm.channelSummary">
        <canvas id="doughnut1" class="chart chart-doughnut" chart-data="[channel.value,100-channel.value]" chart-options="vm.sampleOptions"
            chart-colors="channel.guageColors" ng-click="vm.onChannelClick(channel.id)">
        </canvas>
        <div class="donut-inner">
            <h5>{{channel.value}}%</h5>
            <span>{{channel.label}}</span>
        </div>
    </div>
</div>
<div class="row" ng-hide="vm.hideWatermark">
    <div class="col m12-col center">Please select any filter from sidebar to display charts.</div>
</div>


<div class="row">
    <div class="col s12 m6" ng-show="vm.showCampaign">
        <div class="card ">
            <span class="card-title">{{vm.userBundle["popboard.frame.heading"]}}</span>
             <div style="height: 100%;overflow-y: auto;  max-height: 405px;">
                <div class="card-content" style=" min-height: {{vm.campaignOptions.size.height + 'px'}} ">
                    <canvas id="campaign" class="chart-horizontal-bar" chart-data="vm.campaignData.datasets[0].data" chart-options="vm.campaignOptions"
                        chart-colors="vm.campaignData.datasets[0].backgroundColor" chart-labels="vm.campaignData.labels" chart-dataset-override="vm.campaignDetails"
                        chart-click="vm.onCampaignClick" height="{{vm.campaignOptions.size.height}}">
                </div>
             </div>
         </div>
    </div>

    <div class="col s12 m6" ng-show="vm.showPlayer">
        <div class="card cardwrapper">
            <span class="card-title">{{vm.userBundle["popboard.player.heading"]}}</span>
            <div style="width: 100%;overflow-x: auto;float: left;bottom: -10px;position: relative;">
                <div class="card-content " style="width: {{vm.barOptions.size.width + 'px' }}; height: {{vm.barOptions.size.height + 'px'}} ">
                    <canvas id="player" class="chart chart-bar" chart-data="vm.playerData.datasets[0].data" chart-options="vm.barOptions" chart-colors="vm.playerData.datasets[0].backgroundColor"
                        chart-labels="vm.playerData.labels" chart-click="vm.onPlayerClick" chart-dataset-override="vm.playerDetails">
                </div>
          </div>
       </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6" ng-show="vm.showDay">
        <div class="card ">
            <span class="card-title">{{vm.userBundle["popboard.date.heading"]}}</span>
            <div class="card-content">
                <canvas id="day" class="chart chart-bar" chart-data="vm.dayData.datasets[0].data" chart-options="vm.dayOptions"
                    chart-colors="vm.dayData.datasets[0].backgroundColor" chart-labels="vm.dayData.labels" chart-click="vm.onDayClick"
                    chart-dataset-override="vm.dayDetails">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col s12 m6" ng-show="vm.showHour">
        <div class="card ">
            <span class="card-title">{{vm.userBundle["popboard.time.heading"]}}</span>
            <div class="card-content">
                <canvas id="hour" class="chart chart-bar" chart-data="vm.hourData.datasets[0].data" chart-options="vm.hourOptions"
                    chart-colors="vm.hourData.datasets[0].backgroundColor" chart-labels="vm.hourData.labels">
                </canvas>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="my-custom-template">
      <span class="collection-item"> <input type="checkbox" id="test6" /><label for="test6"><i class="material-icons ">done</i></label>
         <label ng-bind-html="$highlight($getDisplayText())">
             <!--do not put any text/html here, it will not reflect-->
        </label>
     </span>
</script>